---
layout: default
---

<div class="home">
	{% include newsletter.html %}
  <ul class="news-list">
    {% assign issuepage = (site.pages | where: "layout" , "issue") %}
	{% for page in issuepage %}
      <li>
        <span class="news-list__date">
          <span class="month">{{ page.date | date: "%b" }}</span>
          <span class="day">{{ page.date | date: "%d" }}</span>
        </span>

        <span class="news-list__seprator">//</span>
        <h3 class="news-list__title">
          <a href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">{{ page.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
