<header class="header site-header">
  <div class="container">
    <div class="header__top">
      <div class="row">
        <div class="six columns">
          <ul class="header__social">
            <li><a href=""><img src="/assets/img/rss-icon.png" alt=""></a></li>
            <li><a href=""><img src="/assets/img/github-icon.png" alt=""></a></li>
            <li><a href=""><img src="/assets/img/twitter-icon.png" alt=""></a></li>
          </ul>
        </div>
        <div class="six columns">
          <div class="header__send-btn">
            <a href="">پیشنهاد لینک</a>
          </div>
        </div>
      </div>
    </div>

    <div class="header__titles">
      <div class="row">
        <div class="ten columns offset-by-one">
          <div class="header__title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>
          <div class="header__subtitle">لینک های منتخب طراحان و توسعه دهندگان در هر پنج شنبه</div>
        </div>
      </div>
    </div>
  </div>
</header>