<div class="row">
	<div class="ten columns offset-by-one">
		<div id="mc_embed_signup" class="subscribe">
			<form action="//toread.us10.list-manage.com/subscribe/post?u=6b6595466ebb1cd8d10d131a5&amp;id=182b98526d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="mc-field-group">
					<input class="u-full-width" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="برای عضویت در خبرنامه ایمیل خود را وارد نمایید.">
				</div>

				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; right: -5000px;"><input type="text" name="b_6b6595466ebb1cd8d10d131a5_182b98526d" tabindex="-1" value=""></div>
				
				<img class="mail-icon" src="/assets/img/mail-icon2.png" alt="">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button subscribe__btn">

			</form>
		</div>
	</div>
</div>