---
layout: default
---
<div class="post">
  {% include newsletter.html %}
  <div class="row">
    <div class="twelve columns">
      <header class="post__header">
        <span class="post__date">{{ page.date | date_to_string }}</span>
        <h1 class="post__title">{{ page.title }}</h1>
      </header>

	{% assign content = page.content | strip_newlines %}
	{% if content != ""  %}
      <article class="post__content">
        {{ content }}
      </article>
	{% endif %}
    
      <ul class="post-list">
      {% for post in site.categories.issue reversed %}
      {% if post.categories contains page.issue %}
          <li>
            <h3 class="post-list__title" >
              <a href="{{ post.link }}">{{ post.title }}</a>
            </h3>
            <span class="author">ارسال شده توسط <a href="{{ post.user_link }}" class="name">{{ post.user }}</a></span>
          </li>
      {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>