---
layout: default
---
<div class="post">
  <div class="row">
    <div class="ten columns offset-by-one">
      <header class="post__header">
        <span class="post__date">05,Feb, 2014</span>
        <h1 class="post__title">{{ page.title }}</h1>
      </header>

      <article class="post__content">
        {{ content }}
      </article>
    
      <ul class="post-list">
      {% for post in site.categories.issue %}
      {% if post.categories contains page.issue %}
          <li>
            <h3 class="post-list__title" >
              <a href="{{ post.link }}">{{ post.title }}</a>
            </h3>
            <span class="author">فرستاده شده توسط <a href="http://navid.kashani.ir" class="name">نوید کاشانی</a></span>
          </li>
      {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>